/* stylelint-disable indentation */
/* stylelint-disable-next-line selector-class-pattern */
.input {
	margin-top: 14px;
	width: 220px;
	height: 40px;
	font-size: 16px;
	line-height: 19px;
	padding: 11px;
}

.input:disabled {
	background: #ccc;
}
