/* stylelint-disable indentation */
/* stylelint-disable-next-line selector-class-pattern */
.general__item {
	width: 270px;
	height: 70px;
	display: flex;
	border-bottom: 1px solid #000000;
	cursor: pointer;
}

.general__item:hover {
	background: #dddddd;
}

.general__item-avatar {
	width: 40px;
	height: 40px;
	background: #d9d9d9;
	border-radius: 50%;
	overflow: hidden;
}

.general__item-info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 3px;
}

.general__item-photo {
	padding: 15px;
}

.general__item-nick {
	margin: 0;
	font-weight: 500;
}

.general__item-text {
	margin: 0;
}
