.sign-btn {
	width: 180px;
	height: 35px;
	background-color: #d9d9d9;
	font-size: 16px;
	color: #0000;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
}

.sign-btn-message {
	margin: 0;
}
