/* stylelint-disable indentation */
/* stylelint-disable-next-line selector-class-pattern */
.profile__wrapper {
	padding: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 22px;
}

.profile__photo {
	width: 213px;
	height: 153px;
	background-color: #d9d9d9;
}

.profile__avatar {
	display: flex;
	gap: 22px;
	flex-direction: column;
	align-items: center;
}

.profile__settings {
	width: 796px;
	height: 319px;
	background-color: #c690c3;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	gap: 24px;
}

.profile__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}

.profile__btns {
	display: flex;
	justify-content: center;
	gap: 17px;
}

.profile__btns a {
	text-decoration: none;
}

.profile__change-data {
	width: 180px;
	height: 35px;
	background-color: #d9d9d9;
	font-size: 16px;
	color: #000000;
	margin-top: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	margin: 0;
}

.profile__change-passwod {
	width: 180px;
	height: 35px;
	background-color: #d9d9d9;
	font-size: 16px;
	color: #000000;
	margin-top: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	margin: 0;
}
