/* stylelint-disable indentation */
/* stylelint-disable-next-line selector-class-pattern */
.error {
	color: rgba(241, 18, 18, 0.8);
	font-size: 9px;
	text-align: center;
	height: 12px;
	width: 90%;
}
