/* stylelint-disable indentation */
/* stylelint-disable-next-line selector-class-pattern */
.controlled-input {
	padding: 0;
	max-width: 300px;
	width: 220px;
}

.controlled-input-message {
	width: 100%;
	max-width: 100%;
	padding-right: 10px;
}
