{{!< chat}}

<div class="general">
    <div class="general__chats">
        <a href="profile.hbs" class="general__link"><div class="general__profile">Профиль</div></a>
        <input type="text" class="general__search" placeholder="Поиск">
        <ul class="general__items">
           {{> "open-chat/open-chat"}}
        </ul>

    </div>
    <div class="general__active-chat">
        <div class="general__head">
            <div class="general__name">Mark</div>
            <div class="general__utils"></div>
        </div>
        <p class="general__date"></p>
        <div class="general__correspondence">
            <p class="general__message"></p>
            <p class="general__time"></p>
        </div>
        <div class="general__send">
            <div class="general__send-message"></div>
            <div class="general__send-btn"></div>
        </div>
    </div>
</div>