.authorization {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    a {
        text-decoration: none;
    }
    &__wrapper {
        display: flex;
        width: 300px;
        height: 430px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #C690C3;
    }
    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
   
    &__sign-in {
        width: 180px;
        height: 35px;
        background-color: #D9D9D9;
        font-size: 16px;
        color: #000000;
        margin-top: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
    }
    &__sign-up {
        margin-top: 14px;
        width: 180px;
        height: 35px;
        background-color: #D9D9D9;
        font-size: 16px;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
    }
}    


