{{!< chat}}

<div class="authorization">
    <div class="authorization__wrapper">
        <h1 class="authorization__title">Авторизация</h1>
        <form action="#" class="authorization__form">
            {{> "inputs/input-login"}}
            {{> "inputs/input-password"}}           
            <button class="authorization__sign-in btn">Войти</button>
        </form>
        <a href="sign-up.hbs"><button class="authorization__sign-up btn">Зарегистрироваться</button></a>
    </div>
</div>