{{!< chat}}

<div class="profile">
    <div class="profile__wrapper">
        <div class="profile__avatar">
            <div class="profile__photo"></div>
            <div class="profile__name">Алексей</div>
        </div>

        <div class="profile__settings">
            <div class="profile__title">Данные</div>
            <div class="profile__items">
                {{> "inputs/input-firstname"}}
                {{> "inputs/input-secondname"}}
                {{> "inputs/input-login"}}
                {{> "inputs/input-email"}}
                {{> "inputs/input-displayname"}}
                {{> "inputs/input-phone"}}
            </div>
            <div class="profile__btns">
                <a href="profile-change.hbs" class="profile__change-data-link"><button class="profile__change-data">Изменить данные</button></a>
                <a href="profile-password.hbs" class="profile__change-password-link" ><button class="profile__change-password">Изменить пароль</button></a>
            </div>
        </div>

    </div>
</div>