{{!< chat}}

<div class="profile">
    <div class="profile__wrapper">

        <div class="profile__settings">
            <div class="profile__title">Изменить пароль</div>
            <div class="profile__items">
                {{> "inputs/input-password-old"}}
                {{> "inputs/input-password-new"}}
                {{> "inputs/input-password-new"}}
                
            </div>
            <div class="profile__btns">
                <a href="profile.hbs" class="profile__save-password-link"><button class="profile__save-password">Сохранить</button></a>
            </div>
        </div>

    </div>
</div>