{{!< chat}}

<div class="profile">
    <div class="profile__wrapper">
        <div class="profile__avatar">
            <div class="profile__photo"></div>
            <div class="profile__name">Алексей</div>
        </div>

        <div class="profile__settings">
            <div class="profile__title">Изменить данные</div>
            <div class="profile__items">
                {{> "inputs/input-firstname"}}
                {{> "inputs/input-secondname"}}
                {{> "inputs/input-login"}}
                {{> "inputs/input-email"}}
                {{> "inputs/input-displayname"}}
                {{> "inputs/input-phone"}}
            </div>
            <div class="profile__btns">
                <a href="profile.hbs" class="profile__save-data-link"><button class="profile__save-change-data">Сохранить данные</button></a>
            </div>
        </div>

    </div>
</div>