<li class="general__item">
    <div class="general__item-photo">
        <img src="#" alt="" class="general__item-avatar">
    </div>
    <div class="general__item-info">
        <p class="general__item-nick">Mark</p>
        <p class="general__item-text">Он: Привет</p>
    </div>
</li>